<mat-form-field>
    <input matInput [matDatepicker]="datepicker" (dateChange)="updateTimestampByPicker(datepicker_input.value)"
           #datepicker_input style="display:none">
    <input matInput [value]="getFormattedTimeStamp(datepicker_input.value, '00:00')"
           (input)="updateTimestampByInput(input.value)" #input id="input">
    <mat-hint>{{label}} <span [ngClass]="{'highlighted-hint': !isInputValid}">YYYY-MM-DD hh:mm</span></mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
    <mat-datepicker-toggle matIconSuffix [matMenuTriggerFor]="menu" #menuTrigger>
        <mat-icon matDatepickerToggleIcon>alarm</mat-icon>
    </mat-datepicker-toggle>
</mat-form-field>
<mat-menu #menu="matMenu" xPosition="before">
    TODO input time
</mat-menu>
&nbsp;&nbsp;