<div class="dialog">
    <h2 mat-dialog-title>{{"PIPELINE_DIALOG.TITLE" | translate}}</h2>
    <button *ngIf="plugins.length>1" class="reordering-icon" (click)="changeOrder()" mat-icon-button
            aria-label="Change Order of Plugins">
        <mat-icon aria-hidden="false" fontIcon="low_priority"></mat-icon>
    </button>
    <mat-dialog-content>
        <ng-container *ngFor="let p of plugins; index as i">
            <div class="step">
                <div class="input">
                    <span *ngFor="let input of p.manifestAttributes.input"
                          [ngClass]="{'italic':isDefinedByPrevPluginOutput(input.name, i)}">
                        <small>{{input.name}} <span class="unit-span" *ngIf="input.unit">({{input.unit}})</span></small><br/>
                    </span>
                </div>
                <mat-icon [ngClass]="{'hidden':p.manifestAttributes.input.length==0}" aria-hidden="false"
                          fontIcon="chevron_right"></mat-icon>

                <button class="smaller-button" [ngClass]="{'hidden': i==plugins.length-1 || !isChangingOrder}"
                        mat-icon-button
                        aria-label="Change Plugin Order" (click)="switchWithNext(i);">
                    <mat-icon class="rotate-icon" aria-hidden="false" fontIcon="straight"></mat-icon>
                </button>

                <mat-chip>{{p.name}}</mat-chip>

                <button class="smaller-button" [ngClass]="{'hidden': i==0 || !isChangingOrder}" mat-icon-button
                        aria-label="Change Plugin Order" (click)="switchWithPrevious(i);">
                    <mat-icon aria-hidden="false" fontIcon="straight"></mat-icon>
                </button>

                <mat-icon aria-hidden="false" fontIcon="chevron_right"></mat-icon>
                <div class="output">
                    <span *ngFor="let output of p.outputAttributes">
                        <small>{{output.name}} <span class="unit-span" *ngIf="output.unit">({{output.unit}}
                            )</span></small><br/>
                    </span>
                </div>
            </div>
            <div class="arrow" *ngIf="i < plugins.length-1">
                <mat-icon aria-hidden="false" fontIcon="keyboard_double_arrow_down"></mat-icon>
            </div>
        </ng-container>
    </mat-dialog-content>
    <div class="hints">
        {{"PIPELINE_DIALOG.HINT_1" | translate}}<br/>
        {{"PIPELINE_DIALOG.HINT_2" | translate}}
    </div>
</div>

