.dialog {
    height: 600px;
}

mat-dialog-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-chart {
    display: flex;
    flex-direction: column;
}

mat-tab-group, mat-tab {
    overflow: hidden;
}