<mat-chip-set aria-label="Plugin selection">
    <div *ngFor="let p of plugins">
        <mat-chip-option *ngIf="p.isSelected" (click)="deselectPlugin(p)" selected
                         color="accent">{{p.plugin.name}}</mat-chip-option>
        <mat-chip-option *ngIf="!p.isSelected" (click)="selectPlugin(p)">{{p.plugin.name}}</mat-chip-option>
    </div>
</mat-chip-set>
<small>&nbsp;</small>
<mat-accordion>
    <mat-expansion-panel *ngFor="let p of selectedPlugins; index as i"
                         [expanded]="accordionStep === i" (opened)="setStep(i)">
        <mat-expansion-panel-header>
            <mat-panel-title>{{p.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{"INFO.DESCRIPTION"| translate}}: {{getPluginDescriptionTranslationKey(p.method) | translate}}</p>

        <small *ngIf="p.manifestAttributes.globalConfig.length >0">{{"INPUT.GLOBAL_CONFIG" | translate}}:</small>
        <div class="input-block">
            <div *ngFor="let input of p.manifestAttributes.globalConfig">
                <mat-form-field *ngIf="input.type!='boolean' && input.type!='timestamp'">
                    <mat-label>{{input.name}} <span *ngIf="input.unit" class="smaller">({{input.unit}})</span> <span
                            *ngIf="input.optional" class="smaller">(optional)</span></mat-label>
                    <input matInput [type]="input.type" [(ngModel)]="input.value">
                    <mat-hint *ngIf="input.type=='list'">{{"INPUT.HINT_LIST" | translate}}</mat-hint>
                </mat-form-field>

                <app-time-stamp-picker *ngIf="input.type=='timestamp'" [label]="input.name"
                                       (change)="input.value=$event"></app-time-stamp-picker>

                <mat-checkbox *ngIf="input.type=='boolean'" (change)="input.value=($event.checked.toString())">
                    {{input.name}} <span *ngIf="input.optional" class="smaller">(optional)</span>
                </mat-checkbox>
            </div>
        </div>

        <small *ngIf="p.manifestAttributes.config.length >0">{{"INPUT.CONFIG" | translate}}:</small>
        <div class="input-block">
            <div *ngFor="let input of p.manifestAttributes.config">
                <mat-form-field *ngIf="input.type!='boolean'">
                    <mat-label>{{input.name}} <span *ngIf="input.unit" class="smaller">({{input.unit}})</span> <span
                            *ngIf="input.optional" class="smaller">(optional)</span></mat-label>
                    <input matInput [type]="input.type" [(ngModel)]="input.value">
                    <mat-hint *ngIf="input.type=='list'">{{"INPUT.HINT_LIST" | translate}}</mat-hint>
                </mat-form-field>

                <mat-checkbox *ngIf="input.type=='boolean'" (change)="input.value=($event.checked.toString())">
                    {{input.name}} <span *ngIf="input.optional" class="smaller">(optional)</span>
                </mat-checkbox>
            </div>
        </div>

        <small *ngIf="p.manifestAttributes.defaults.length >0">{{"INPUT.DEFAULTS" | translate}}:</small>
        <div class="input-block">
            <div *ngFor="let input of p.manifestAttributes.defaults">
                <mat-form-field>
                    <mat-label>{{input.name}} <span *ngIf="input.unit" class="smaller">({{input.unit}})</span> <span
                            *ngIf="input.optional" class="smaller">(optional)</span></mat-label>
                    <input matInput [type]="input.type" [(ngModel)]="input.value">
                </mat-form-field>
            </div>
        </div>

        <mat-action-row class="action-row">
            <div>
                <button class="smaller-button" [ngClass]="{'hidden': i==selectedPlugins.length-1}" mat-icon-button
                        aria-label="Change Plugin Order" (click)="switchWithNext(i); nextStep();">
                    <mat-icon class="rotate-icon" aria-hidden="false" fontIcon="straight"></mat-icon>
                </button>
                <button class="smaller-button" *ngIf="i!=0" mat-icon-button aria-label="Change Plugin Order"
                        (click)="switchWithPrevious(i); prevStep();">
                    <mat-icon aria-hidden="false" fontIcon="straight"></mat-icon>
                </button>
            </div>
            <div>
                <button *ngIf="i>0" mat-button color="accent" (click)="prevStep()">Previous</button>
                <button [ngClass]="{'hidden': i==selectedPlugins.length-1}" mat-button color="primary"
                        (click)="nextStep(); pluginConfigurationChanged.emit(selectedPlugins)">Next
                </button>
            </div>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>