<div class="dialog">
    <p>{{"TERMINAL_INSTRUCTION_DIALOG.EXPLAINATION" | translate}}</p>
    <p>{{"TERMINAL_INSTRUCTION_DIALOG.STEP1" | translate}}</p>
    <code>{{"TERMINAL_INSTRUCTION_DIALOG.INSTALL_IF" | translate}}</code>
    <code>{{"TERMINAL_INSTRUCTION_DIALOG.INSTALL_IF_PLUGINS" | translate}}</code>
    <code>{{"TERMINAL_INSTRUCTION_DIALOG.INSTALL_IF_PLUGINS2" | translate}}</code>
    <p>&nbsp;</p>
    <p>{{"TERMINAL_INSTRUCTION_DIALOG.STEP2" | translate}}</p>
    <code>{{"TERMINAL_INSTRUCTION_DIALOG.RUN_MANIFEST" | translate}}</code>
</div>